{% extends "base.html.twig" %}

{% block body %}

	<div>
        <a href=" {{ path('duty_new') }} ">Ajouter une annonce</a>
		{% set cpt = 1 %}
		{% for duty in asAsker %}
			<h3>Annonce n°
				{{ cpt }}
			</h3>
			<table class="table">
				<tbody>
					<tr>
						<th>Intitulé</th>
						<td>{{ duty.title }}</td>
					</tr>
					<tr>
						<th>Type d'annonce</th>
						<td>{{ duty.dutytype }}</td>
					</tr>
					<tr>
						<th>Postée le</th>
						<td>{{ duty.createdAt | date('d/m/Y') }}</td>
					</tr>
					<tr>
						<th>Offreur</th>
						<td>{{ duty.offerer ? duty.offerer : "Pas encore d'offreur d'aide" }}</td>
					</tr>
					<tr>
						<th>Statut</th>
						{% if duty.status == "not checked" %}
							<td>Non vérifiée par les administrateurs</td>
						{% elseif duty.status == "checked" %}
							<td>Vérifiée par les administrateurs le {{ duty.checkedAt | date('d/m/Y') }} </td>
						{% elseif duty.status == "asker validation" %}
							<td>Vous avez validé {{ duty.offerer }} le {{ duty.askerValidAt | date('d/m/Y') }}</td>
						{% elseif duty.status == "offerer validation" %}
							<td>{{ duty.offerer }} a validé le {{ duty.offererValidAt | date('d/m/Y') }}</td>
						{% elseif duty.status == "finished" %}
							<td>Le service a été rendu le {{ duty.doneAt | date('d/m/Y') }}</td>
						{% else  %}
							<td>Votre annonce est mise en retrait le {{ duty.setbackAt | date('d/m/Y') }} pour le motif suivant :  </td>
						{% endif %}
					</tr>
					<tr>
						<th>Durée</th>
						<td>{{ duty.duration }}h</td>
					</tr>
					<tr>
						<th>Prix</th>
						<td>{{ duty.price }}</td>
					</tr>
                    <tr>
						<th>Description</th>
						<td>{{ duty.description }}</td>
					</tr>
				</tbody>
			</table>
            <a href=" {{ path('duty_edit', {'id':duty.id} ) }} ">Editer</a>
			{% set cpt = cpt + 1 %}
		{% else %}
			<div>
				<p>no records</p>
			</div>
		{% endfor %}

	</div>

{% endblock %}
