{% extends "base.html.twig" %}

{% block title %}Mes annonces{% endblock %}

{% block body %}
	<main role="main" class="container-fluid" id="my_duties_page">
		<div class="row">
			<div class="col-12 mb-3">
				<h1 class="h1 text-center text-primary mb-4">MES ANNONCES</h1>
				<a class="btn btn-primary" href=" {{ path('duty_new') }} ">Ajouter une annonce</a>
			</div>
			<div class="col-12">
				<div class="row">
					{% for duty in asAsker %}
						<div class="col-xl-4 col-lg-6 mb-2 p-2">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-8">
											<h5 class="card-title mb-1 text">{{ duty.title }}</h5>
											<h6 class="card-subtitle mb-2 text-muted text-primary">{{ duty.dutyType.title }}</h6>
										</div>
										<div class="col-4 text-right pl-0">
											<a class="btn btn-primary seeDuty" href=" {{ path('duty_show', {'id': duty.id}) }} " title="Voir l'annonce">
												<i class="fas fa-eye"></i>
											</a>
											<a href="{{ path('duty_edit', {'id': duty.id}) }}">Edit</a>
										</div>
									</div>
									<p class="card-text text duty_description text-justify mb-5">{{ duty.description }}</p>
									<p class="card-text w-100 mb-0 text-right text text-bold">{{ duty.asker.name }} {{ duty.asker.firstname }}</p>
									<p class="card-text w-100 text-right text">
										<small class="text-muted">Posté le {{ duty.createdAt ? duty.createdAt|date('d-m-Y') : '' }}</small>
									</p>
								</div>
							</div>
						</div>
					{% else %}
						<div class="col-12">
							<div class="alert alert-danger text-center" role="alert">
								Aucune annonce trouvée
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</main>
{% endblock %}
