{% extends 'base.html.twig' %}

{% block title %}Member
{% endblock %}

{% block body %}
	<h1>Member</h1>

    {# Tu les as là comme ça t'en fais ce que tu veux #}

	<div>
		<h2>Services demandés</h2>
		<p> {{ asAsker }} </p>
	</div>
	<div>
		<h2>Services rendus</h2>
		<p> {{ asOfferer }} </p>
	</div>


	<table class="table">
		<tbody>
			<tr>
				<th>Nom</th>
				<td>{{ member.name }}</td>
			</tr>
			<tr>
				<th>Prénom</th>
				<td>{{ member.firstname }}</td>
			</tr>
			<tr>
				<th>Adresse mail</th>
				<td>{{ member.email }}</td>
			</tr>
			<tr>
				<th>Rôle</th>
                {% if member.roles|length == 3 %}
                    <td>super-administrateur</td>
                {% elseif member.roles|length == 2 %}
                    <td>administrateur</td>
                {% else  %}
                    <td>membre</td>
                {% endif %}
			</tr>
			<tr>
				<th>Balance</th>
				<td>{{ member.money }}</td>
			</tr>
			<tr>
				<th>Adresse postale</th>
				<td>{{ member.address }}</td>
			</tr>
		</tbody>
	</table>

	{# <a href="{{ path('member_index') }}">back to list</a> #}

	<a href="{{ path('member_edit', {'id': member.id}) }}">edit</a>

	{# {{ include('member/_delete_form.html.twig') }} #}
{% endblock %}
