{% extends 'base.html.twig' %}

{% block title %}Duty index{% endblock %}

{% block body %}
    <h1>Mes annonces</h1>
    
    {{ form(search_form) }}

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for duty in duties %}
            <tr>
                <td>{{ duty.title }}</td>
                <td>{{ duty.dutyType.title }}</td>
                <td>{{ duty.description }}</td>
                <td>{{ duty.createdAt ? duty.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ duty.asker.name }}</td>
                <td>{{ duty.asker.firstname }}</td>
                <td>
                    <a href="{{ path('duty_show', {'id': duty.id}) }}">show</a>
                    <a href="{{ path('duty_edit', {'id': duty.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('duty_new') }}">Create new</a>
{% endblock %}
