{% extends 'base.html.twig' %}

{% block title %}Duty{% endblock %}

{% block body %}
    <h1>Duty</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Intitulé :</th>
                <td>{{ duty.title }}</td>
            </tr>
            <tr>
                <th>Description :</th>
                <td>{{ duty.description }}</td>
            </tr>
            <tr>
                <th>Créée le :</th>
                <td>{{ duty.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Par :</th>
                <td>{{ duty.asker }}</td>
            </tr>
            <tr>
                <th>Durée :</th>
                <td>{{ duty.duration }}h</td>
            </tr>
            <tr>
                <th>Endroit :</th>
                <td>{{ duty.place }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ duty.price }}</td>
            </tr>
        </tbody>
    </table>
    {# {{ form(form) }} #}
    <a href="{{ path('duty_search') }}">Retour</a>

    {# <a href="{{ path('duty_edit', {'id': duty.id}) }}">edit</a> #}

    {# {{ include('duty/_delete_form.html.twig') }} #}
{% endblock %}
