<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="icon" href="{{ asset('assets/img/favicon.png') }}" />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-table.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/fontawesome/css/fontawesome.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/fontawesome/css/all.css') }}">
            {# <link rel="stylesheet" href="http://projet-web-training.ovh/sel/public/build/app.css"> #}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>

    {% if app.request.pathinfo != '/connexion' %}
        {% include 'header.html.twig' %}
    {% endif %}

        {% block body %}
        {% endblock %}

        {% block scripts %}
            <script src="{{ asset('assets/js/jquery-3.5.1.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
            <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
            <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
            <script src="{{ asset('assets/js/bootstrap-table.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap-table-export.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap-table-fr-FR.js') }}"></script>
            <script src="{{ asset('assets/js/sweetalert2.all.min.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="{{ asset('assets/js/script.js') }}"></script>
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}

        {% block ourScripts %}
        {% endblock %}
    </body>
</html>
