{% block header %}

	<header id="BoiteASel-header">
		<nav class="navbar navbar-expand-lg">
			<a class="navbar-brand" href="/">
				<img src="{{ asset('assets/img/BoiteASel.png') }}" height="50" alt="Logo Boîte à Sel" loading="lazy">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#BoiteASel-nav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">
					<i class="fas fa-bars"></i>
				</span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="BoiteASel-nav">
				<ul class="navbar-nav">
					{% if app.user %}
						<li class="nav-item">
							<a class="nav-link active" href="{{ path('duty_search') }}">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('conversation_index') }}">Messagerie</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-account" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Mon espace</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-account">
								<a class="dropdown-item" href="{{ path('member_show', { 'id' : app.user.id } ) }}">
									<i class="fas fa-user"></i>
									Mon profil</a>
								<a class="dropdown-item" href="{{ path('member_duties', { 'id' : app.user.id } ) }}">
									<i class="far fa-clipboard"></i>
									Mes annonces</a>
								<a class="dropdown-item" href="{{ path('security_logout') }}">
									<i class="fas fa-sign-out-alt"></i>
									Déconnexion</a>
							</div>
						</li>
						{% if 'ROLE_ADMIN' in app.user.getroles(TRUE)  %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-admin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Espace administrateur</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-admin">
								<a class="dropdown-item" href="{{ path('admin_dashboard') }}">
									<i class="fas fa-chart-bar"></i>
									Tableau de bord</a>
								<a class="dropdown-item" href="{{ path('admin_members_list') }}">
									<i class="fas fa-user-cog"></i>
									Gestion des membres</a>
								<a class="dropdown-item" href="{{ path('duties_to_check') }}">
									<i class="fas fa-tasks"></i>
									Vérification des annonces</a>
								<a class="dropdown-item" href="{{ path('dutytypes_to_check') }}">
									<i class="fas fa-tasks"></i>
									Validation des types de service</a>
							</div>
						</li>
						{% endif %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-admin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"></i> Notifications</a>
							<div class="dropdown-menu dropdown-menu-right" id="notifications_nav">
								{% for notification in app.user.getNotifications()|slice(0, 5) %}
									{% if notification.type == "proposition" %}
										<a class="dropdown-item disabled" href="#"><span class="badge badge-primary badge-pill">Proposition</span></a>
									{% elseif notification.type == "validation" %}
										<a class="dropdown-item disabled" href="#"><span class="badge badge-secondary badge-pill">Validation</span></a>
									{% elseif notification.type == "done" %}
										<a class="dropdown-item disabled" href="#"><span class="badge badge-success badge-pill">Fin de tâche</span></a>
									{% elseif notification.type == "warning" %}
										<a class="dropdown-item disabled" href="#"><span class="badge badge-danger badge-pill">Attention</span></a>
									{% elseif notification.type == "verification" %}
										<a class="dropdown-item disabled" href="#"><span class="badge badge-accent badge-pill">Vérification</span></a>
									{% else %}
										<a class="dropdown-item disabled" href="#"><span class="badge badge-gray badge-pill">Autres</span></a>
									{% endif %}
								{% else %}
									<a class="disabled" href="#">Aucune notification disponible</a>
								{% endfor %}
								<a class="dropdown-item" href="{{ path("notification") }}">Consulter</a>
							</div>
						</li>

						{% set money = app.user.getMoney() %}
						<li class="nav-item">
							{% if money > 0 %}
								<a class="nav-link disabled" id="nav-money" href="#">{{ money }} <i class="fas fa-balance-scale-left"></i> </a>
							{% endif %}
							{% if money < 0 %}
								<a class="nav-link disabled" id="nav-money" href="#">{{ money }} <i class="fas fa-balance-scale-right"></i></a>
							{% endif %}
							{% if money == 0 %}
								<a class="nav-link disabled" id="nav-money" href="#">{{ money }} <i class="fas fa-balance-scale"></i></a>
							{% endif %}
						</li>
					{% else %}
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('home') }}">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>
	</header>
{% endblock %}
