{% extends 'base.html.twig' %}

{% block title %}Modification d'un membre{% endblock %}

{% block body %}
    <main role="main" id="admin_member_edit">
        <div class="container-md">
            <div class="row">
                <div class="col-12">
                    <h1 class="h1 text text-center mb-4">MODIFIER UN MEMBRE</h1>
                </div>

                {{ form_start(form, {'attr': { 'id': 'member_edit_form', 'class': 'col-lg-6 col-md-12' } }) }}
                    <div class="form-group mb-2">
                        {{ form_label(form.money, 'Grains de sel :') }}
                        {{ form_widget(form.money) }}
                    </div>

                    <div class="form-group mb-2">
                        {{ form_label(form.roles, 'Rôles :') }}
                        {{ form_widget(form.roles) }}
                    </div>

                    <div class="form-group text-center mb-0">
                        <a class="btn btn-green" href="{{ path('admin_members_list') }}"><i class="fas fa-chevron-left"></i> Retour</a>
                        <button class="btn btn-success">{{ button_label|default('Modifier') }}</button>
                    </div>
                {{ form_end(form) }}

            </div>
            <div class="background_green"></div>
        </div>
    </main>
{% endblock %}
