{% extends 'base.html.twig' %}

{% block title %}Member{% endblock %}

{% block body %}
    <main role="main" id="admin_member_show">
        <section class="container-md">
            <div class="row p-2">
                <form class="col-lg-8 col-md-12" id="member_form">
                    <div class="row">
                        <div class="col-sm d-flex justify-content-center flex-column">
                            <h4 class="text-success mb-0">{{ member.firstname }} {{ member.name }}</h4>
                            <hr class="mb-1 mt-1">
                        </div>
                        <div class="col-sm-auto text-sm-right">
                            <img src="{{ asset('assets/img/abstract-shapes-11.svg') }}" width="85" alt="Elements graphiques">
                        </div>
                    </div>

                    <div class="form-group row mb-0">
                        <label for="staticEmail" class="col-sm-3 mb-0"><small>ADRESSE MAIL :</small></label>
                        <div class="col-sm-9">
                            <input type="text" readonly class="form-control-plaintext p-0" id="staticEmail" value="{{ member.email }}">
                        </div>
                    </div>

                    <div class="form-group row mb-0">
                        <label for="staticEmail" class="col-sm-3 mb-0"><small>ROLE :</small></label>
                        <div class="col-sm-9">
                            <input type="text" readonly class="form-control-plaintext p-0" id="staticEmail" value="{{ member.roles ? member.roles|join(', ') : '' }}">
                        </div>
                    </div>

                    <div class="form-group row mb-0">
                        <label for="staticEmail" class="col-sm-3 mb-0"><small>GRAINS DE SEL :</small></label>
                        <div class="col-sm-9">
                            <input type="text" readonly class="form-control-plaintext p-0" id="staticEmail" value="{{ member.money }}">
                        </div>
                    </div>

                    <div class="form-group row mb-0">
                        <label for="staticEmail" class="col-sm-3 mb-0"><small>ADRESSE :</small></label>
                        <div class="col-sm-9">
                            <input type="text" readonly class="form-control-plaintext p-0" id="staticEmail" value="{{ member.address }}">
                        </div>
                    </div>

                    <div class="form-group text-right mb-0">
                        <a class="btn text-success" href="{{ path('admin_members_list') }}"><i class="fas fa-chevron-left"></i> Retour</a>
                    </div>
                </form>
            </div>
            <div class="background_green"></div>
        </section>
    </main>
{% endblock %}
