{% extends 'base.html.twig' %}

{% block title %}Conversation index{% endblock %}

{% block body %}
    <h1>Conversation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Destinataire</th>
            </tr>
        </thead>
        <tbody>
        {% for conversation in conversations %}
            <tr>
                <td><a href="{{ path('conversation_msg_index', {'selectedConversation': conversation.id}) }}"> 
                {# C'est ici que tu peux distingué en front l'utilisateur connectée au destinataire #}
                 {{ app.user == conversation.member1 ?  
                    conversation.member2
                    : 
                    conversation.member1
                }}
                {{ conversation.duty ? conversation.duty.title : '' }}
                </a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     <table class="table">
        <thead>
            <tr>
                <th>Message</th>
                <th>Auteur</th>
            </tr>
        </thead>
        <tbody>
        {% for msg in message %}
            <tr>
                <td>{{ msg.content }}</td>
                <td>{{ msg.sender }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun Message</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    {% if form != "" %}
    {{ form(form) }}
    {% endif %} 
{% endblock %}
