{% extends 'base.html.twig' %}

{% block title %}Annonce
{% endblock %}

{% block body %}
	<main role="main" id="admin_duty_show">
		<section class="container-md">
			<div class="row p-2">
				<div class="col-lg-8 col-md-12 card" id="duty_card">
					<div class="card-body">
						<div class="row">
							<div class="col-12">
								<h4 class="card-title mb-1 text">{{ duty.title }}</h4>
								<h6 class="card-subtitle mb-2 text-muted text-success">{{ duty.dutyType.title }}</h6>
							</div>

							<div class="col-12 mb-4">
								<p class="card-text text text-justify">{{ duty.description }}</p>
								<p class="card-text w-100 mb-0 text-success text"><small>{{ duty.asker.name }} {{ duty.asker.firstname }}</small></p>
								<p class="card-text w-100 mb-0 text-right text"><small class="text-muted">Posté le {{ duty.createdAt ? duty.createdAt|date('d/m/Y') : '' }}</small></p>
								<p class="card-text w-100 mb-0 text-success">Statut modifié le <small class="text-muted">{{ duty.setbackAt ? duty.setbackAt|date('d/m/Y') : '' }}</small></p>
								<p class="card-text w-100 mb-0 text-success">Statut : <small class="text-muted">{{ duty.status }}</small></p>
								<p class="card-text w-100 mb-0 text-success">Durée : <small class="text-muted">{{ duty.duration }}</small></p>
								<p class="card-text w-100 mb-0 text-success">Lieu : <small class="text-muted">{{ duty.place }}</small></p>
								<p class="card-text w-100 mb-0 text-success">Nombre de grains de sel : <small class="text-muted">{{ duty.price }}</small></p>
							</div>

							<div class="col-12 mb-4">
{#								{{ form(commentaryForm) }}#}

								{{ form_start(commentaryForm) }}
									<h4 class="card-title mb-2 text">Ajouter un commentaire :</h4>

								{{ form_end(commentaryForm) }}
							</div>
						</div>

					</div>
{#					<section id="commentaire">#}
{#						{% for key,commentary in duty.voteCommentary %}#}
{#							<div class="comment">#}
{#								<div class="row">#}
{#									<div class="col-3">#}
{#										{{ key }}#}
{#									</div>#}
{#									<div class="col">#}
{#										{{ commentary }}#}
{#									</div>#}
{#								</div>#}
{#								<hr>#}
{#							</div>#}
{#						{% endfor %}#}
{#					</section>#}


{#					{{ form(commentaryForm) }}#}
				</div>
			</div>
			<div class="background_green"></div>
		</section>
	</main>


	{% endblock %}
