{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
	<main role="main" id="admin_duty_show">
		<section class="container-md">
			<div class="row p-2">
				<div class="col-lg-8 col-md-12 card" id="duty_card">
					<div class="card-body">
						<div class="row">
							<div class="col-12">
								<h4 class="card-title mb-1 text">{{ duty.title }}</h4>
								<h6 class="card-subtitle mb-2 text-muted text-success">{{ duty.dutyType.title }}</h6>
							</div>

							<div class="col-12 mb-4">
								<p class="card-text text text-justify mb-5">{{ duty.description }}</p>
								<p class="card-text w-100 mb-0 text-right text text-bold">{{ duty.asker.name }} {{ duty.asker.firstname }}</p>
								<p class="card-text w-100 mb-0 text-right text"><small class="text-muted">Posté le {{ duty.createdAt ? duty.createdAt|date('d/m/Y') : '' }}</small></p>
								<p class="card-text w-100 mb-0 text-success">Statut modifié le <small class="text-muted">{{ duty.setbackAt ? duty.setbackAt|date('d/m/Y') : '' }}</small></p>
								<p class="card-text w-100 mb-0 text-success">Statut : <small class="text-muted">{{ duty.status }}</small></p>
								<p class="card-text w-100 mb-0 text-success">Durée : <small class="text-muted">{{ duty.duration }} heures</small></p>
								<p class="card-text w-100 mb-0 text-success">Lieu : <small class="text-muted">{{ duty.place }}</small></p>
								<p class="card-text w-100 mb-0 text-success">Nombre de grains de sel : <small class="text-muted">{{ duty.price }}</small></p>
							</div>

							<div class="col-12 mb-4">
								{{ form_start(commentaryForm) }}
									<h4 class="card-title mb-2 text">Ajouter un commentaire :</h4>
								{{ form_end(commentaryForm) }}
							</div>

							<div class="col-12 mb-4" id="commentaire">
								<h4 class="card-title mb-2 text">Commentaires :</h4>
								{% for key,commentary in duty.voteCommentary %}
									<div class="comment">
										<div class="row">
											<div class="col-12">
												<p class="text-success m-0">{{ key }} : <small class="text">{{ commentary }}</small></p>
												<hr>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>

							<div class="col-12 text-right">
								<a href="{{ path('duties_to_check') }}" class="btn btn-green"><i class="fas fa-chevron-left"></i> Retour</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="background_green"></div>
		</section>
	</main>
{% endblock %}
